@{
    ViewData["Title"] = "Student Form";
}

@model webapp.Models.Student

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" action="/Student/studentform">
        <label>Name: </label>
        <input type="text" id="name" name="name" required/><br/>
        <label>Age: </label>
        <input type="number" id="age" name="age" required/><br/>
        <label>CGPA: </label>
        <input type="number" step="0.01" id="cgpa" name="cgpa" required/><br/>
        <label>Semester: </label>
        <input type="text" id="semester" name="semester" required/><br/>

        <input type="submit" value="Save Student">
    </form>
</div>

@if(Model !=null)
{
    <h1>Data you entered</h1>
    <p>Name: @Model.Name</p>
    <p>Age: @Model.Age</p>
    <p>CGPA: @Model.CGPA</p>
    <p>Semester: @Model.Semester</p>
}

<p>Click <a asp-controller="student" asp-action="studentdata">here</a> to view all students.</p>
